<rocket-body limit="small">
   <rocket-input
   [(data)]="firstName"
   label="First Name">
   </rocket-input>

   <rocket-input
   [(data)]="lastName"
   label="Last Name">
   </rocket-input>

   <rocket-input
   [(data)]="title"
   label="Title">
   </rocket-input>

   <rocket-text-area
   [(data)]="address"
   label="Full Address">
   </rocket-text-area>

   <rocket-select
   [(data)]="selectValue"
   [options]="selectOptions"
   label="Option One">
   </rocket-select>

   <br>

   <button (click)="testData()" type="button">Test Data</button>
   <button (click)="paneOpen()" type="button">Open Pane</button>
</rocket-body>

<rocket-pane name="{{paneName}}">
   <rocket-body>
      This is a test.
      <br><br>
      <button (click)="paneClose()" type="button">Close Pane</button>
   </rocket-body>
</rocket-pane>
