/**
 * @author Chris Humboldt
 */

$loaderSize: 40px;
$loaderSizeSmall: $loaderSize - 14px;
$loaderSizeLarge: $loaderSize + 10px;
$loaderSizeHalf: -$loaderSize / 2;
$loaderSizeHalfSmall: -$loaderSizeSmall / 2;
$loaderSizeHalfLarge: -$loaderSizeLarge / 2;

$dotSize: 24px;
$dotSizeHalf: -$dotSize / 2;
$dotSizeSmall: 16px;
$dotSizeHalfSmall: -$dotSizeSmall / 2;
$dotSizeLarge: 36px;
$dotSizeHalfLarge: -$dotSizeLarge / 2;
