<div class="comp--container">
   <label
   *ngIf="label"
   class="comp--label"
   [ngClass]="{'_state-active': focus || (data && data.length > 0)}">
      {{label}}
   </label>

   <textarea
   (keyup)="handleDataChange($event.target.value)"
   (focus)="handleFocus(true)"
   (blur)="handleFocus(false)"
   [value]="(data) ? data : ''"
   [attr.disabled]="(disabled) ? '' : null"
   [@changeBorder]="
      {
         value: (style !== formStyle.LINE && focus),
         params: {
            colourStart: colourStart,
            colourEnd: colour
         }
      }
   "
   class="comp--input">
   </textarea>
</div>

<rocket-line-reveal
*ngIf="style === formStyle.LINE"
[colour]="colour"
[width]="lineWidth">
</rocket-line-reveal>
