<div class="comp--container">
   <rocket-slide-label
   *ngIf="label && slideLabel === states.ON"
   [active]="(focus || data) ? true : false"
   label={{label}}
   positionTop="{{slideLabelTop}}">
   </rocket-slide-label>

   <div
   [@changeBorder]="
      {
         value: (formStyle !== formStyles.LINE && focus),
         params: {
            colourStart: colourStart,
            colourEnd: colour
         }
      }
   "
   class="comp--inner">
      <textarea
      (keyup)="handleDataChange($event.target.value)"
      (focus)="handleFocus(true)"
      (blur)="handleFocus(false)"
      [value]="(data) ? data : ''"
      [attr.autocomplete]="(autocomplete) ? autocomplete : null"
      [attr.autocorrect]="(autocorrect) ? autocorrect : null"
      [attr.autocapitalize]="(autocapitalize) ? autocapitalize : null"
      [attr.disabled]="(disabled) ? '' : null"
      [attr.maxlength]="(max) ? max : null"
      [attr.minlength]="(min) ? min : null"
      [attr.placeholder]="(label && slideLabel === states.OFF) ? label : null"
      [attr.spellcheck]="(spellcheck === states.OFF) ? false : null"
      class="comp--input">
      </textarea>
   </div>
</div>

<rocket-line-reveal
*ngIf="formStyle === formStyles.LINE"
[colour]="colour"
[width]="lineWidth">
</rocket-line-reveal>
