<div
[@changeBorder]="
   {
      value: (style !== formStyle.LINE && focus),
      params: {
         colourStart: colourStart,
         colourEnd: colour
      }
   }
"
class="comp--container">
   <label
   *ngIf="label && slideLabel"
   class="comp--slideLabel"
   [ngClass]="{'_state-active': focus || (data && data.length > 0)}">
   <!-- [ngClass]="{'_state-active': focus || (data && data.length > 0)}"> -->
      {{label}}
   </label>

   <input
   (keyup)="handleDataChange($event.target.value)"
   (focus)="handleFocus(true)"
   (blur)="handleFocus(false)"
   [value]="(data) ? data : ''"
   [attr.disabled]="(disabled) ? '' : null"
   [attr.placeholder]="(label && !slideLabel) ? label : null"
   type="{{type}}"
   class="comp--input">
</div>

<rocket-line-reveal
*ngIf="style === formStyle.LINE"
[colour]="colour"
[width]="lineWidth">
</rocket-line-reveal>
