/**
 * @author Chris Humboldt
 */

$spaceVertical: 14px;
$spaceVerticalMedium: 16px;
$spaceHorizontal: 16px;
$spaceHorizontalMedium: 18px;

$spaceHorizontalOutline: $spaceHorizontal + 4px;
$spaceHorizontalOutlineMedium: $spaceHorizontalMedium + 8px;

$spaceVerticalLine: $spaceVertical - 2px;

$textSize: $sizeBase;
